@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    box-sizing: content-box;
    margin: 0px;
}

.layout-page {
    height: 100%;

    &-header {
        padding: 0 !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 9;
        // box-shadow: 0 4px 10px #dddddd;

        // svg {
        //     width: 20px;
        //     height: 20px;
        //     cursor: pointer;
        // }

        &-main {
            padding: 0 15px;
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            height: 64px;
            width: 200px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9;

            img {
                width: 30px;
                height: 30px;
            }
        }
    }

    &-sider {
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    &-content {
        display: flex;
        flex-direction: column;
        flex: 1;

        > :nth-child(1) .ant-tabs-bar {
            padding: 6px 0 0;
        }

        > :nth-child(2) {
            flex: auto;
            overflow: auto;
            padding: 6px;
            box-sizing: border-box;

            .innerText {
                padding: 24px;
                border-radius: 2px;
                display: block;
                line-height: 32px;
                font-size: 16px;
            }
        }
    }

    &-footer {
        text-align: center;
        padding: 14px 20px;
        font-size: 12px;
    }

    .actions {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        >* {
            margin-left: 30px;
            height: 100%;
            display: flex;
            align-items: center;

            .notice {
                display: block;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 22px;
                height: 22px;
                cursor: pointer;
            }
        }
    }

    .user-action {
        cursor: pointer;
    }

    .user-avator {
        margin-right: 8px;
        width: 40px;
        height: 40px;
    }
}

.login-background {
    background: linear-gradient(68.8deg,
            rgba(0, 0, 0, 0.95) 1.8%,
            rgb(0, 55, 79) 31.8%,
            rgb(9, 93, 134) 56.2%,
            rgb(15, 155, 217) 89%);
}


.layout-page-sider-menu {
    border-right: none !important;
}

.ant-menu-inline-collapsed {
    width: 79px !important;
}

.tagsView-extra {
    height: 100%;
    width: 50px;
    cursor: pointer;
    display: block;
    line-height: 40px;
    text-align: center;
}

.ant-form-large .ant-form-item .ant-form-item-label>label {
    height: auto;
    margin-bottom: 0px !important;
}

.ant-modal-confirm .ant-modal-confirm-body {
    justify-content: center;
}

img {
    width: -webkit-fill-available !important;
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #fafafa;
}

/* Handle */
::-webkit-scrollbar-thumb {
    // background-color: #016390 ;
    background-color: lightgray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.border-bottom {
    border-bottom: solid;
}